<div class="h-28 bg-[#01AEEE] flex shadow-md shadow-gray-500/50  top-0 right-0 left-0 z-50">
    <div class="w-[337px] h-[100%] bg-gray-50 relative" style="clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100% );">
        <img class="h-[110px] absolute right-[19%] top-[-1%]  " src="assets/image/header/logo.png" alt="logo">
    </div>
    <div class="w-[calc(100%-337px)] flex items-center justify-end ">
        <div class="w-[100%] mr-[20px]">
            <!-- Search and Icon Social Media -->
            <div class=" flex items-center justify-end">
                <div class="mr-[10px] flex items-center tejustify-cenr gap-[10px]">
                    <div class="background-icon-social">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="background-icon-social">
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                    <div class="background-icon-social">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="background-icon-social">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="background-icon-social">
                        <i class="fa-solid fa-comment"></i>
                    </div>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Tìm kiếm"
                        class="bg-gray-50 w-[192px] h-[32px] pl-[20px] placeholder:text-gray-500 focus:outline-none "
                        style="clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);  " />
                    <i class="fa-solid fa-magnifying-glass absolute top-[25%] right-[10%] text-gray-500"></i>
                </div>
            </div>

            <span class="border-b-[1px] border-[#C0D5FF80] w-[100%] block py-[5px]"></span>

            <!-- navbar -->
            <div class=" mt-[15px]  ">
                <ul class="flex  mt-[10px] justify-between items-center text-[17px] font-semibold text-gray-50">
                    <li class="nav-item"><i class="fa-solid fa-house-chimney"></i></li>
                    <li class="nav-item">VỀ NKS</li>
                    <li class="nav-item">CHƯƠNG TRÌNH GIÁO DỤC</li>
                    <li class="nav-item">TIN TỨC</li>
                    <li class="nav-item">TUYỂN SINH</li>
                    <li class="nav-item">ĐỜI SỐNG HỌC ĐƯỜNG</li>
                    <li class="nav-item">TUYỂN DỤNG</li>
                    <li class="nav-item">LIÊN HỆ</li>
                </ul>
            </div>
        </div>

        <div>
            <img class="h-[112px]" src="assets/image/header/bg.png" alt="">
        </div>
    </div>

</div>

<!-- <div class="h-28">

</div> -->