<div class="h-[401px] w-[100%] bg-gray-50  ">
    <div class="h-[calc(100%-65px)]  flex justify-between mx-[119px] pt-[42px]">
        <div class="">
            <div class="flex items-center justify-center ">
                <img class="h-[100px]" src="assets/image/header/logo.png" alt="logo">
            </div>
            <div class=" font-bold text-[22px] text-[#01AEEE] w-[300px] text-center mb-[40px]">
                TRƯỜNG TIỂU HỌC -THCS NGUYỄN KHUYẾN
            </div>
            <div class="mr-[10px] flex items-center justify-center  gap-[10px]">
                <div class="background-icon-social">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="background-icon-social">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="background-icon-social">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="background-icon-social">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="background-icon-social">
                    <i class="fa-solid fa-comment"></i>
                </div>
            </div>
        </div>

        <div class=" text-[#01AEEE]">
            <p class="text-[20px] font-bold ">VỀ CHÚNG TÔI</p>
            <ul class="space-y-2 mt-[25PX] font-medium text-[15px] p-0">
                <li>Liên hệ </li>
                <li>Giới thiệu chung</li>
                <li>Sứ mệnh - Tầm nhìn</li>
                <li>Cơ sở vật chất</li>
                <li>Ban giám hiệu</li>
                <li>Hợp tác đào tạo</li>
            </ul>
        </div>
        <div class=" text-[#01AEEE]">
            <p class="text-[20px] font-bold ">CHƯƠNG TRÌNH GIÁO DỤC</p>
            <ul class="space-y-2 mt-[25PX] font-medium text-[15px] p-0">
                <li>Chương trình mầm non</li>
                <li>Chương trình tiểu học</li>
                <li>Chương trình THCS & THPT</li>
                <li>Hoạt động trải nghiệm</li>
                <li>Hội nhập quốc tế</li>
                <li>Dành cho phụ huynh</li>
            </ul>
        </div>
        <div>
            <img width="230px" src="assets/image/footer/image.png" alt="">
        </div>
    </div>
    <div class="h-[65px] bg-[#01AEEE] w-[100%]] flex items-center justify-center font-medium text-[15px] text-gray-50">
        <p class=" text-center m-0">Copyright 2025 NGUYEN KHUYEN SCHOOL. Design by ASCVN.COM.VN</p>
    </div>
</div>