<div class="fixed bottom-[5%]  right-0 z-10 ">
    <div class="button-wrapper  ">
        <div class="button text-red-500 bg-white" (click)="scrollToNKS()">Đăng ký</div>
    </div>
    <div class="button-wrapper mt-[10px]">
        <div class="button bg-[#01AEEE] text-white">Tư vấn</div>
    </div>
    <div class="button-wrapper mt-[10px]">
        <div class="button bg-[#F9AE3B] text-white"><i class="fa-solid fa-phone mr-[4px]"></i> 099 834 5768</div>
    </div>
</div>

<div class=" ">
    <ngb-carousel [interval]="3000" [pauseOnHover]="true" [wrap]="true">
        <ng-template ngbSlide *ngFor="let slide of slides">
            <div class="h-full w-full">
                <img [src]="slide.src" alt="Slide {{ slide.id }}" class="w-full h-[590px] object-cover" />
            </div>
        </ng-template>
    </ngb-carousel>
</div>


<div class="layout flex justify-between ">
    <!-- Gioi thieu -->
    <div class="w-[580px]">
        <p class="text-[#FA6F19] font-medium text-[16px]">GIỚI THIỆU</p>
        <p class="font-bold text-[28px] text-[#01AEEE]">Môi trường học tập lý tưởng - Kiến tạo tương lai vững chắc</p>
        <p class="text-15px leading-7 whitespace-normal text-justify">Trường Tiểu học - THCS Nguyễn Khuyến, tọa lạc tại
            Biên Hòa,
            Đồng Nai, là một
            trong những
            ngôi trường có không
            gian rộng rãi, kiến trúc hiện đại và môi trường giáo dục chất lượng cao. Với sứ mệnh mang đến nền tảng giáo
            dục vững chắc cho học sinh, nhà trường luôn không ngừng đổi mới và phát triển để đáp ứng tốt nhất nhu cầu
            học tập của các em. Với đội ngũ giáo viên tận tâm, giàu kinh nghiệm, nhà trường áp dụng phương pháp giảng
            dạy tiên tiến, khuyến khích học sinh chủ động, sáng tạo và phát triển toàn diện. Chương trình học không chỉ
            chú trọng đến kiến thức mà còn giúp các em rèn luyện kỹ năng sống, phẩm chất đạo đức và khả năng hội nhập.
        </p>
        <button class="border-2 p-[7px]  text-[14px] font-medium border-[#01AEEE] text-[#01AEEE]"
            style="border-radius: 10px; border-bottom-left-radius: 0px;">
            Tìm hiểu thêm
        </button>

        <div class="flex space-x-[20px] mt-[30px]">
            <div class="w-[50px] h-[50px] mt-[5px]">
                <img class=" h-full " style="max-width: 50px;" src="assets/image/home/sumenh.png" alt="anh">
            </div>
            <div class="">
                <p class="font-bold m-0 pb-[5px] text-[18px] ">Sứ mệnh</p>
                <p class="text-sm text-gray-600 leading-7 text-[15px] text-justify">
                    Nguyễn Khuyến School mang đến nền tảng giáo dục vững chắc cho học sinh, nhà trường luôn không ngừng
                    đổi mới và phát triển để đáp ứng tốt nhất nhu cầu học tập của các em.
                </p>
            </div>
        </div>
        <div class="flex space-x-[20px] mt-[10px]">
            <div class="w-[50px] h-[50px] mt-[5px]">
                <img class=" h-full " style="max-width: 50px;" src="assets/image/home/tamnhin.png" alt="anh">
            </div>
            <div>
                <p class="font-bold m-0 pb-[5px] text-[18px] ">Tầm nhìn</p>
                <p class="text-sm text-gray-600 leading-7 text-[15px] text-justify">Xây dựng một môi trường học tập hạnh
                    phúc, nơi
                    mỗi học sinh
                    đều được yêu thương, tôn trọng và phát
                    triển toàn diện cả về trí tuệ, thể chất lẫn tinh thần.</p>
            </div>
        </div>
        <div class="flex space-x-[20px] mt-[10px]">
            <div class="w-[50px] h-[50px] mt-[5px]">
                <img class=" h-full " style="max-width: 50px;" src="assets/image/home/giatri.png" alt="anh">
            </div>
            <div>
                <p class="font-bold m-0 pb-[5px] text-[18px] ">Giá trị cốt lõi</p>
                <p class="text-sm text-gray-600 leading-7 text-[15px] text-justify">Nhà trường lấy bốn giá trị cốt lõi
                    làm kim chỉ
                    nam trong mọi
                    hoạt động giảng dạy và giáo dục: “Yêu
                    thương – Tôn trọng – Trách nhiệm – Kỷ luật”.</p>
            </div>
        </div>
    </div>
    <!-- Moi truong hoc tap - Co so vat chat -->
    <div class="w-[580px] flex justify-between mt-[130px]">
        <div class="mt-[30px]">
            <div class="card mb-[40px]">
                <div class="card-layout">
                    <div class="card-body bg-[#FA7523]">
                        <img class="img-cart" src="assets/image/home/cart1.png" alt="">
                    </div>
                    <p class="card-title">Môi trường học tập hạnh phúc</p>
                    <span class="card-line"></span>
                    <p class="card-text">Môi trường học tập hạnh phúc, nơi mỗi học sinh đều được yêu thương, tôn trọng
                        và phát triển.</p>
                </div>
            </div>
            <div class="card ">
                <div class="card-layout">
                    <div class="card-body bg-[#25BB63]">
                        <img class="img-cart" src="assets/image/home/cart2.png" alt="">
                    </div>
                    <p class="card-title">Môi trường học tập hạnh phúc</p>
                    <span class="card-line"></span>
                    <p class="card-text">Môi trường học tập hạnh phúc, nơi mỗi học sinh đều được yêu thương, tôn trọng
                        và phát triển.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="card mb-[40px]">
                <div class="card-layout">
                    <div class="card-body bg-[#F9AE3B]">
                        <img class="img-cart" src="assets/image/home/cart3.png" alt="">
                    </div>
                    <p class="card-title">Môi trường học tập hạnh phúc</p>
                    <span class="card-line"></span>
                    <p class="card-text">Môi trường học tập hạnh phúc, nơi mỗi học sinh đều được yêu thương, tôn trọng
                        và phát triển.</p>
                </div>
            </div>
            <div class="card ">
                <div class="card-layout">
                    <div class="card-body bg-[#01AEEE]">
                        <img class="img-cart" src="assets/image/home/cart4.png" alt="">
                    </div>
                    <p class="card-title">Môi trường học tập hạnh phúc</p>
                    <span class="card-line"></span>
                    <p class="card-text">Môi trường học tập hạnh phúc, nơi mỗi học sinh đều được yêu thương, tôn trọng
                        và phát triển.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Giá trị cốt lõi -->
<div class="layout flex justify-between pt-[0px]">
    <div class="w-[556px] mt-[60px]">
        <p class="text-[28px] font-bold text-[#01AEEE]">GIÁ TRỊ CỐT LÕI</p>
        <p class="text-[15px] pb-[40px]">Nhà trường lấy bốn giá trị cốt lõi làm kim chỉ nam trong mọi hoạt động giảng
            dạy và giáo
            dục: “Yêu thương —
            Tôn trọng — Trách nhiệm — Kỷ luật”.</p>
        <img src="assets/image/home/giatri1.png" alt="giatri">
    </div>
    <div>
        <img src="assets/image/home/giatri2.png" alt="giatri">
    </div>

</div>

<!-- Chan dung NKS -->
<div class="mt-[40px] layout">
    <p class="text-[#01AEEE] font-bold text-[28px] ">CHÂN DUNG NKS</p>
    <p class="text-[15px] leading-7 m-0">Trường Tiểu học và THCS Nguyễn Khuyến tự hào là nơi chắp cánh cho những ước mơ,
        hun
        đúc tài
        năng và đạo đức cho
        biết bao thế hệ học sinh. Trong số đó, nhiều cựu học sinh đã vươn xa, trở thành những nhà lãnh đạo, chuyên gia,
        doanh nhân và nghệ sĩ xuất sắc, đóng góp tích cực cho xã hội.</p>
    <p class="text-[15px] leading-7">Sự thành công của các thế hệ học trò chính là minh chứng cho truyền thống hiếu học,
        tinh thần
        nỗ lực không ngừng
        và sự tận tâm của các thầy cô giáo. Nhà trường luôn tự hào và tri ân những đóng góp của các cựu học sinh, mong
        rằng họ sẽ tiếp tục lan tỏa những giá trị tốt đẹp, truyền cảm hứng cho thế hệ sau vững bước trên con đường tri
        thức!</p>
    <div class="w-[100%]  flex justify-center  mt-[30px]">
        <div class="flex ">
            <!-- <div
                class="w-[315px] h-[315px] border-2 border-dashed rounded-[50%] p-[6px] border-[#01AEEE] flex items-center justify-center">
                <img class="rounded-[50%] " width=315px height=315px src="assets/image/home/avt2.jpg" alt="avt">
            </div>
            <div class="w-[512px] h-[292] ml-[40px] mt-[30px]">
                <p class="text-[22px] font-bold">"Các thầy cô tạo ra rất nhiều hoạt động, khiến giờ học rất vui và dễ
                    hiểu"</p>
                <p class="text-[15px] leading-8">Con thích học Toán nhất, bởi trong lớp các thầy cô tạo ra rất nhiều
                    hoạt động, khiến giờ học rất vui
                    và dễ hiểu. Con và các bạn cũng được tham gia nhiều dự án, ứng dụng các kiến thức đã được học vào
                    thực tiễn đời sống.</p>
                <p class="text-[16px] font-bold m-0">Trương Anh Khoa</p>
                <p class="text-[16px] font-bold mt-2">Học sinh lớp 9A1</p>
            </div> -->
            <div
                class="w-[315px] h-[315px] border-2 border-dashed rounded-[50%] p-[6px] border-[#01AEEE] flex items-center justify-center">
                <img class="rounded-[50%]" width="315px" height="315px" [src]="students[currentIndex].src" alt="avt">
            </div>

            <div class="w-[512px] ml-[40px] mt-[30px]">
                <p class="text-[22px] font-bold h-[66px]">{{ students[currentIndex].quote }}</p>
                <p class="text-[15px] leading-8 h-[96px]">{{ students[currentIndex].description }}</p>
                <p class="text-[16px] font-bold m-0">{{ students[currentIndex].name }}</p>
                <p class="text-[16px] font-bold mt-2">{{ students[currentIndex].class }}</p>
            </div>

        </div>
    </div>
    <div class="flex justify-center items-center mt-[30px]">
        <div class="w-[32px] h-[32px] bg-[#01AEEE] flex items-center justify-center rounded-[50%] mr-[20px] text-white cursor-pointer hover:scale-115 duration-300 ease-in-out"
            (click)="prevStudent()">
            <i class="fa-solid fa-chevron-left"></i>
        </div>

        <div *ngFor="let student of students; let i = index">
            <img class="rounded-[50%] overflow-hidden mr-[20px] border-[3px]  duration-300 ease-in-out" width="67px"
                height="67px" [src]="student.src" alt="avt" [ngStyle]="{
              'border-color': i === currentIndex ? '#01AEEE' : 'transparent'
            }">
        </div>

        <div class="w-[32px] h-[32px] bg-[#01AEEE] flex items-center justify-center rounded-[50%] text-white cursor-pointer  hover:scale-115 duration-300 ease-in-out"
            (click)="nextStudent()">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</div>

<!-- Chương trình giao dục -->
<div class="layout h-[540px]  flex justify-between  pt-[40px]">
    <div class="w-[39%] h-[100%] flex flex-col justify-between">
        <div class="h-[49%] bg-[#01AEEE] flex justify-center items-center text-gray-50 rounded-[10px]">
            <div class=" ">
                <p class="text-[16px]">CHƯƠNG TRÌNH GIÁO DỤC </p>
                <p class="font-bold text-[33px]  w-[380px]">Giáo dục toàn diện - Kiến tạo tương lai</p>
            </div>
        </div>
        <div class="h-[49%] w-[100%] bg-[#25BB63] rounded-[10px] flex overflow-hidden ">
            <div class="w-[50%] px-[20px] py-[30px] text-gray-50 box-border ">
                <p class="text-[18px] font-bold">CHƯƠNG TRÌNH GIÁO DỤC STEAM</p>
                <span class="card-line !border-gray-50 mb-[16px]"></span>
                <p class="text-[15px] ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh.</p>
                <p class="text-[17px] pt-[10px]">Tìm hiểu thêm <i class="fa-solid fa-arrow-right"></i></p>
            </div>
            <div class="w-[50%] h-[100%]">
                <img class="w-full h-full object-cover" src="assets/image/home/giaoduc1.png" alt="giaoduc">
            </div>
        </div>
    </div>

    <div class="w-[39%] h-[100%] flex flex-col justify-between">
        <div class="h-[49%] bg-[#F9AE3B] rounded-[10px] flex overflow-hidden">
            <div class="w-[50%] h-[100%]">
                <img class="w-full h-full object-cover" src="assets/image/home/giaoduc2.png" alt="giaoduc">
            </div>
            <div class="w-[50%] px-[20px] py-[30px] text-gray-50 box-border">
                <p class="text-[18px] font-bold">CHƯƠNG TRÌNH TIẾNG ANH TĂNG CƯỜNG</p>
                <span class="card-line !border-gray-50 mb-[16px]"></span>
                <p class="text-[15px] ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh.</p>
                <p class="text-[17px] pt-[10px]">Tìm hiểu thêm <i class="fa-solid fa-arrow-right"></i></p>
            </div>
        </div>
        <div class="h-[49%] bg-[#0330A2] rounded-[10px] flex overflow-hidden">
            <div class="w-[50%] px-[20px] py-[30px] text-gray-50 box-border">
                <p class="text-[18px] font-bold">CHƯƠNG TRÌNH HOẠT ĐỘNG NGOẠI KHÓA</p>
                <span class="card-line !border-gray-50 mb-[16px]"></span>
                <p class="text-[15px] ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh.</p>
                <p class="text-[17px] pt-[10px]">Tìm hiểu thêm <i class="fa-solid fa-arrow-right"></i></p>
            </div>
            <div class="w-[50%] h-[100%]">
                <img class="w-full h-full object-cover" src="assets/image/home/giaoduc3.png" alt="giaoduc">
            </div>
        </div>
    </div>

    <div class="w-[20%] rounded-[10px] overflow-hidden bg-[#E83A40]">
        <div class="w-[100%] h-[50%]">
            <img class="w-full h-full object-cover" src="assets/image/home/giaoduc4.png" alt="giaoduc">
        </div>
        <div class="w-[100%] px-[20px] py-[30px] text-gray-50 box-border">
            <p class="text-[18px] font-bold">CHƯƠNG TRÌNH HOẠT ĐỘNG NGOẠI KHÓA</p>
            <span class="card-line !border-gray-50 mb-[16px]"></span>
            <p class="text-[15px] ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                tất cả học
                sinh.</p>
            <p class="text-[17px] pt-[10px]">Tìm hiểu thêm <i class="fa-solid fa-arrow-right"></i></p>
        </div>
    </div>

</div>

<!-- Hoat dong pho bien cho hoc sinh-->
<div class="layout pt-[40px] flex justify-between">
    <div class="w-[482px]">
        <p class="text-[#FA6F19] text-[16px]">HOẠT ĐỘNG</p>
        <p class="text-[#01AEEE] text-[28px] font-bold">CÁC HOẠT ĐỘNG PHỔ BIẾN CHO HỌC SINH</p>
        <p class="text-[15px] text-justify leading-7 pb-[30px]">Trường Tiểu học - THCS Nguyễn Khuyến được thành lập vào
            năm 2022
            cung cấp lộ
            trình học từ
            lớp 1 đến
            lớp 9 với đầy tính ưu việt khi kết hợp hài hòa giữa chương trình giáo dục quốc gia với chương trình giáo dục
            NKS. Nguyễn Khuyến School được xây dựng trên cơ sở kế thừa và phát huy giá trị, bản sắc của nền giáo dục
            Quốc gia đồng thời chọn lọc tinh hoa của khoa học giáo dục thế giới.</p>
        <ul class="p-0 flex flex-col gap-[20px] -">
            <li class="flex items-center">
                <img class="w-[24px] h-[24px] " src="assets/image/home/check.png" alt="check">
                <p class="ml-[10px] mb-0 text-justify">Hoạt động phát triển tài năng và nhân cách để các em trở thành
                    những người học
                    tập.</p>
            </li>
            <li class="flex items-center">
                <img class="w-[24px] h-[24px]" src="assets/image/home/check.png" alt="check">
                <p class="ml-[10px] mb-0 text-justify">Hoạt động phát triển tài năng và nhân cách để các em trở thành
                    những người học
                    tập.</p>
            </li>
            <li class="flex items-center">
                <img class="w-[24px] h-[24px]" src="assets/image/home/check.png" alt="check">
                <p class="ml-[10px] mb-0 text-justify">Hoạt động phát triển tài năng và nhân cách để các em trở thành
                    những người học
                    tập.</p>
            </li>
            <li class="flex items-center">
                <img class="w-[24px] h-[24px]" src="assets/image/home/check.png" alt="check">
                <p class="ml-[10px] mb-0 text-justify">Hoạt động phát triển tài năng và nhân cách để các em trở thành
                    những người học
                    tập.</p>
            </li>
        </ul>
    </div>
    <div class="w-[670px]  mt-[50px]">
        <div class="h-[45%] flex justify-between ">
            <div class="w-[192px] h-[203px] flex flex-col justify-between">
                <img class="w-[60px] h-[48px] " src="assets/image/home/hoatdong1.png" alt="hoatdong">
                <p class="text-[18px] font-bold text-[#01AEEE] m-0">BƠI LỘI</p>
                <span class="card-line"></span>
                <p class=" text-[15px] m-0 ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh</p>
            </div>
            <div class="w-[192px] h-[203px] flex flex-col justify-between">
                <img class="w-[60px] h-[48px] " src="assets/image/home/hoatdong2.png" alt="hoatdong">
                <p class="text-[18px] font-bold text-[#01AEEE] m-0">OPLYMPIA</p>
                <span class="card-line"></span>
                <p class=" text-[15px] m-0 ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh</p>
            </div>
            <div class="w-[192px] h-[203px] flex flex-col justify-between">
                <img class="w-[60px] h-[48px] " src="assets/image/home/hoatdong3.png" alt="hoatdong">
                <p class="text-[18px] font-bold text-[#01AEEE] m-0">ĐỌC SÁCH</p>
                <span class="card-line"></span>
                <p class=" text-[15px] m-0 ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh</p>
            </div>
        </div>
        <div class="h-[50%] flex justify-between">
            <div class="w-[192px] h-[203px] flex flex-col justify-between">
                <img class="w-[60px] h-[48px] " src="assets/image/home/hoatdong4.png" alt="hoatdong">
                <p class="text-[18px] font-bold text-[#01AEEE] m-0">VĂN NGHỆ</p>
                <span class="card-line"></span>
                <p class=" text-[15px] m-0 ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh</p>
            </div>
            <div class="w-[192px] h-[203px] flex flex-col justify-between">
                <img class="w-[60px] h-[48px] " src="assets/image/home/hoatdong5.png" alt="hoatdong">
                <p class="text-[18px] font-bold text-[#01AEEE] m-0">HỘI THẢO</p>
                <span class="card-line"></span>
                <p class=" text-[15px] m-0 ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh</p>
            </div>
            <div class="w-[192px] h-[203px] flex flex-col justify-between">
                <img class="w-[60px] h-[48px] " src="assets/image/home/hoatdong6.png" alt="hoatdong">
                <p class="text-[18px] font-bold text-[#01AEEE] m-0">KỸ NĂNG SỐNG</p>
                <span class="card-line"></span>
                <p class=" text-[15px] m-0 ">Môi trường học tập an toàn, tận tâm và sáng tạo, truyền cảm hứng cho
                    tất cả học
                    sinh</p>
            </div>
        </div>
    </div>
</div>

<!--  So  lieu -->
<!-- <div class="h-[363px] overflow-hidden my-[30px] relative">
    <div
        class="h-full bg-cover bg-center blur-[10px] bg-[url('https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg')]">
    </div>

    <div class="absolute inset-0 text-white">
        <div class="relative w-[215px] border-2 border-gray-400 rounded-md mt-6">
            <div class="absolute -top-3 left-1/2 -translate-x-1/2 bg-[#012B6C] px-2 text-gray-50">
                <i class="fa-solid fa-book"></i>
            </div>
            <div class="p-4 text-center">
                Nội dung ở đây
            </div>
        </div>
    </div>
</div> -->



<!-- Su kien -->
<div class="layout pb-[20px]">
    <p class="text-[#FA6F19] text-center text-[16px]">SỰ KIỆN</p>
    <p class="text-[#01AEEE] text-[30px] font-bold text-center">SỰ KIỆN NỔI BẬT</p>
    <div class="h-[442px] bg-[#E6E6E6] rounded-[10px] flex justify-center items-center relative mt-[60px]">
        <div class="h-[97%] w-[99%] bg-[#01AEEE] rounded-[10px] flex justify-between  px-[15px] py-[15px] text-gray-50">
            <div class="h-[400px] w-[358px]  rounded-[10px] overflow-hidden">
                <img class="w-[100%] h-[100%] " src="assets/image/home/sukien1.png" alt="sukien">
            </div>
            <div class="w-[336px] h-[298px] pt-[10px]">
                <p class="text-[14px]">25/3/2025</p>
                <p class="font-bold text-[22px]">Hoạt động ngoại khóa - Tham quan bảo tàng Đồng Nai</p>
                <p class="text-[15px] text-justify leading-6">Quý phụ huynh học sinh vui lòng để lại thông tin để được
                    trường tư
                    vấn chi tiết
                    về chương
                    trình tuyển sinh niên khóa 2024 - 2025. Hoặc có thể xem chi tiết về nội dung tuyển sinh tại đây</p>
                <div
                    class="text-[14px] h-[40px] w-[113px] border border-gray-50 rounded-[5px] flex justify-center items-center mt-[20px]">
                    <button class="">Xem chi tiết</button>
                </div>
            </div>
            <div class="w-[381px] h-[391px] flex flex-col justify-between  ">
                <div class="w-[380px] h-[118px] flex">
                    <div class="w-[117px] h-[117px] rounded-[10px] overflow-hidden flex-shrink-0">
                        <img class="w-full h-full" src="assets/image/home/sukien2.png" alt="">
                    </div>
                    <div class="ml-[15px] mt-[5px]">
                        <p class="text-[14px] m-0 py-[7px]">25/3/2025</p>
                        <p class="font-bold text-[16px]">Mừng xuân đón tết 2025 các khối Tiểu học - THCS</p>
                    </div>
                </div>
                <div class="w-[380px] h-[118px] flex">
                    <div class="w-[117px] h-[117px] rounded-[10px] overflow-hidden flex-shrink-0">
                        <img class="w-full h-full" src="assets/image/home/sukien3.png" alt="">
                    </div>
                    <div class="ml-[15px] mt-[5px]">
                        <p class="text-[14px] m-0 py-[7px]">25/3/2025</p>
                        <p class="font-bold text-[16px]">Mừng xuân đón tết 2025 các khối Tiểu học - THCS</p>
                    </div>
                </div>
                <div class="w-[380px] h-[118px] flex">
                    <div class="w-[117px] h-[117px] rounded-[10px] overflow-hidden flex-shrink-0">
                        <img class="w-full h-full" src="assets/image/home/sukien4.png" alt="">
                    </div>
                    <div class="ml-[15px] mt-[5px]">
                        <p class="text-[14px] m-0 py-[7px]">25/3/2025</p>
                        <p class="font-bold text-[16px]">Mừng xuân đón tết 2025 các khối Tiểu học - THCS</p>
                    </div>
                </div>
            </div>
        </div>
        <img class="absolute top-[-50px] right-[15%] w-[40px] h-[57px]" src="assets/image/home/sukien.png" alt="sukien">
        <img class="absolute top-[-50px] left-[15%] w-[40px] h-[57px]" src="assets/image/home/sukien.png" alt="sukien">
    </div>
</div>

<!-- Tin tuc -->
<div class="layout">
    <p class="text-[#FA6F19] text-center text-[16px]">TIN TỨC</p>
    <p class="text-[#01AEEE] text-[30px] font-bold text-center">TIN TỨC MỚI NHẤT</p>
    <!-- <div class="flex justify-between ">
        <div class="h-[405px] w-[278px]  rounded-[10px] overflow-hidden">
            <img class="w-[277px] h-[173px] mb-[20px]" src="assets/image/home/tintuc1.png" alt="tintuc">
            <p class="text-[18px] font-bold">Thông báo điểm tuyệt đối tại kỳ thi tuyển sinh lớp 6 ở TP.HCM</p>
            <p class="text-[15px] text-justify">Trường sẽ mang đến những lộ trình tài chính giáo dục có thể tiết kiệm
                đến
                100% học
                phí, giúp học
                sinh Việt học trường quốc tế mà không mất bất kỳ</p>
        </div>
    </div> -->
    <div class="flex  justify-between">
        <div *ngFor="let item of currentItems" class="h-[405px] w-[278px] rounded-[10px] overflow-hidden ">
            <img class="w-[277px] h-[173px] mb-[20px]" [src]="item.src" alt="tintuc" />
            <p class="text-[18px] font-bold">
                {{ item.title }}
            </p>
            <p class="text-[15px] text-justify">
                {{ item.content }}
            </p>
        </div>
    </div>
</div>
<div class="flex justify-center mt-4 gap-2 ">
    <div *ngFor="let p of [].constructor(totalPages); let i = index" class="w-3 h-3 rounded-[50%] cursor-pointer"
        [ngClass]="{
        'bg-[#01AEEE]': currentPage === i,
        'bg-gray-400': currentPage !== i
      }" (click)="setPage(i)">
        <button class="w-full h-full"></button>
    </div>

</div>





<!-- Form dang ky -->
<div #formDangKy class="layout flex pt-[20px] justify-between">
    <div class="">
        <p class="font-medium text-[16px] text-[#FA6F19]">BẠN CÓ CÂU HỎI CẦN GIẢI ĐÁP ? </p>
        <p class="font-bold text-[30px] text-[#01AEEE] ">ĐĂNG KÝ ĐỂ ĐƯỢC TƯ VẤN</p>

        <form action="" class="w-[585px]">
            <p class="text-[15px]">Vui lòng điền thông tin đầy đủ vào ô bên trên, nhà trường sẽ phản hồi lại thông tin
                của quý phụ
                huynh.</p>
            <input class="input" type="text" name="" id="" placeholder="Nhập họ và tên">
            <div class="flex justify-between">
                <input class="input input-phone-email" type="text" name="" id="" placeholder="Nhập số điện thoại">
                <input class="input input-phone-email" type="email" name="" id="" placeholder="Nhập email">
            </div>
            <input class="input" type="text" name="" id="" placeholder="Nhập địa chỉ">
            <!-- Tạo một select option -->
            <select class="input" name="" id="">
                <option value="">--Chọn cấp học quan tâm--</option>
                <option value="">Cấp tiểu học</option>
                <option value="">Cấp trung học cơ sở</option>
                <option value="">Cấp trung học phổ thông</option>
            </select>
        </form>
        <div
            class="flex justify-center h-[50px] w-[100%] bg-[#01AEEE] border rounded-[5px] text-gray-50 text-[18px] font-bold ">
            <button class="h-full w-full">Gửi</button>
        </div>
        <div class="flex justify-start mt-[30px] ">
            <div class="flex justify-center items-center mr-[60px]">
                <div class="icon-phone-fanpage"><i class="fa-solid fa-phone"></i></div>
                <div class="phone-fanpage">
                    <p class="title-phone-fanpage">Hotline liên hệ</p>
                    <p class="contact-phone-fanpage">097 993 5773</p>
                </div>
            </div>
            <div class="flex justify-center items-center ">
                <div class="icon-phone-fanpage"><i class="fa-solid fa-mobile-screen-button"></i></div>
                <div class="phone-fanpage">
                    <p class="title-phone-fanpage">Fanpage Trường</p>
                    <p class="contact-phone-fanpage">fb.com/Nguyenkhuyendongnai</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[578px] h-[400px] flex justify-between">
        <div class="">
            <div class="w-[306px] h-[270px] border1">
                <img src="assets/image/home/icon5.png" alt="anh">
            </div>
            <div class="flex justify-end mt-[20px]">
                <div class="w-[64px] h-[64px] border1 mr-[20px] bg-[#25BB63] "><img width="50px"
                        src="assets/image/home/icon1.png" alt="anh"></div>
                <div class="w-[101px] h-[101px] border1 bg-[#01AEEE]"><img width="90px"
                        src="assets/image/home/icon2.png" alt="anh">
                </div>
            </div>
        </div>
        <div class=" ml-[20px] ">
            <div class="flex justify-start w-[306px] ">
                <div class="w-[80px] h-[80px] border2 bg-[#E83A40] mr-[20px] mt-[60px]">
                    <img width="70px" src="assets/image/home/icon3.png" alt="anh">
                </div>
                <div class="w-[68px] h-[68px] border2 bg-[#F9AE3B] mt-[20px]">
                    <img width="60px" src="assets/image/home/icon4.png" alt="anh">
                </div>
            </div>
            <div class="w-[253px] h-[233px] border2 mt-[20px] ">
                <img src="assets/image/home/icon6.png" alt="anh">
            </div>
        </div>
    </div>
</div>

<!-- Map va background -->
<img class="h-[500px] w-full pt-[50px] " src="assets/image/home/bg.png" alt="bg">
<div class="flex">
    <img class="h-[240px] w-[720px]" src="assets/image/home/map.png" alt="map">
    <div class="w-[calc(100%-720px)]  flex">
        <div class="w-[50%] h-[100%]  bg-[#F9AE3B] text-gray-50 box-border px-[20px] py-[20px]">
            <p class="text-[18px] font-bold">LIÊN HỆ VỚI CHÚNG TÔI</p>
            <span class="card-line !border-gray-50"></span>
            <div class="flex items-center mt-[10px]">
                <div class="w-[37px] h-[37px] bg-[#FAB64E] flex items-center justify-center rounded-full mr-[20px]">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div>
                    <p class="m-0">Hotline liên hệ</p>
                    <p class="m-0 text-[15px]">0251 2201 984 - 0251 6542 080</p>
                </div>
            </div>
            <div class="flex items-center mt-[10px]">
                <div
                    class="w-[37px] h-[37px] bg-[#FAB64E] flex items-center justify-center rounded-full mr-[20px] flex-shrink-0">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    <p class="m-0">Địa chỉ</p>
                    <p class="m-0 text-[15px]">206, Đường Nguyễn Khuyến, Khu phố 5, Phường Trảng Dài, Thành phố Biên
                        Hòa, Tỉnh Đồng Nai</p>
                </div>
            </div>
        </div>
        <div class="w-[50%] h-[100%]  bg-[#01AEEE] text-gray-50 box-border px-[20px] py-[20px]">
            <p class="text-[18px] font-bold">TƯ VẤN TRỰC TUYẾN</p>
            <span class="card-line !border-gray-50"></span>
            <div class="flex items-center mt-[10px]">
                <div class="w-[37px] h-[37px] bg-[#1Ab6F0] flex items-center justify-center rounded-full mr-[20px]">
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div>
                    <p class="m-0">Hotline trường</p>
                    <p class="m-0 text-[15px]">0251 2201 984 - 0251 6542 080</p>
                </div>
            </div>
            <div class="flex items-center mt-[10px]">
                <div
                    class="w-[37px] h-[37px] bg-[#1Ab6F0] flex items-center justify-center rounded-full mr-[20px] flex-shrink-0">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    <p class="m-0">Tư vấn trực tuyến</p>
                    <p class="m-0 text-[15px]">206, Đường Nguyễn Khuyến, Khu phố 5, Phường Trảng Dài, Thành phố Biên
                        Hòa, Tỉnh Đồng Nai</p>
                </div>
            </div>
        </div>
    </div>

</div>